---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <nav class="navbar bg-neutral w-full shadow-xl">
      <ul class="menu menu-horizontal mx-auto px-1">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
    <main class="flex p-10">
      <div class="w-1/4"></div>
      <article class="prose w-2/4">
        <h1>About me</h1>
        <h2>Getting to know Astro and Tailwind CSS with daisyUI</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
          adipisci veniam? Obcaecati error, amet at fugiat ex non voluptate
          tempore!
        </p>
      </article>
      <div class="w-1/4"></div>
    </main>
  </body>
</html>
