---
import Navigation from "../components/navigation.astro";
import Footer from "../components/Footer.astro";

const pageTitle = "Home Page";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Navigation />
    <main class="flex p-10">
      <div class="w-1/4"></div>
      <article class="prose w-2/4">
        <h1>{pageTitle}</h1>
      </article>
      <div class="w-1/4"></div>
    </main>
    <Footer />
  </body>
</html>
