---
const platform = "github";
const username = "Kuba-Bujanowicz";
---

<footer class="footer p-10 shadow-2xl">
  <p class="block mx-auto">
    Learn more about my projects on <a
      class="link"
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
</footer>
